@using CheckBoardGameVersion3.Data.Models
@using Microsoft.AspNetCore.SignalR.Client
@if (!PlayGame)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div  class="boxSelectChecker modal-content">
                <div style="font-family: 'Belleza', sans-serif;" class="modal-header">
                    <h5 style="margin-left: auto; margin-right: auto;color: aliceblue;" class="modal-title" id="titleLabel">Select Checker</h5>

                </div>
                <div class="modal-body" style="align-self: center">
                    <div style="float: right; margin: 10px 10px 10px 100px" class="checker White" @onclick="SetWhite">
                        <div class="insideOfTheBox"></div>
                    </div>
                   
                    <div style="float: right; margin: 10px 100px 10px 10px" class="checker Black " @onclick="SetBlack">
                        <div class="insideOfTheBox"></div>
                    </div>
                </div>
                <div class="modal-body" style="align-self: center">
                    <a href="#" class="myButton "@onclick="StartGame">Play</a>
                  
                </div>
            </div>
        </div>
    </div>
}
else
{
    <CheckBoard HubsConnection="HubsConnection" TableId="@TableId" Player="@Player"></CheckBoard>
}

@code {

    [Parameter] public HubConnection? HubsConnection { get; set; }
    [Parameter] public string TableId { get; set; }
    [Parameter] public static SetTeam Player { get; set; }

    public bool PlayGame;
    public void SetWhite()
    {
        Player = SetTeam.White;
    }

    public async void SetBlack()
    {
        Player = SetTeam.Black;
    }
    public async void StartGame()
    {
         PlayGame = true;
        await SetPlayer();

       
    }
    public async Task SetPlayer()
    {
       
        await HubsConnection.SendAsync("SetSecondPlayerColorDask", TableId, Player);
    }

}



